<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a monkey!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h2>Add a new monkey!</h2>
      <form  action="/monkeys" method="post">
        <input type="text" name="name" placeholder="Monkey name">
        <input type="text" name="age" placeholder="Monkey age">
        <input type="text" name="clothes" placeholder="What's the monkey wearing?">
        <input type="submit" value="Add your monkey!">
      </form>
    </div>
  </body>
</html>
